.place__title {
    margin: 0;
    margin-bottom: 60px;
    margin-right: 40px;
    width: 460px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
}

@media screen and (max-width: 1079px){
    .place__title{
        width: calc(100% * (440/928));
        margin-right: 32px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1023px){
    .place__title{
        width: calc(100% * (340/720));
        margin-right: 28px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px){
    .place__title{
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 35px;
        align-self: center;
    }
}

@media screen and (max-width: 491px){
    .place__title{
        width: calc(100vw - 32px);
    }
}