.intro__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px){
    .intro__title {
        font-size: calc((54px + 32px)/2);
        line-height: calc((59px + 35px)/2);
    }
}

@media screen and (max-width: 479px){
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }
}