@import url("./__logo/header__logo.css");
@import url('./__lang/header__lang.css');

.header {
    margin-top: 30px;
    min-width: 1184px;
    padding-bottom: 52px;
    position: relative;
}

@media screen and (max-width: 1279px){
    .header {
        min-width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 1023px){
    .header{
        min-width: 928px;
    }
}

@media screen and (max-width: 975px){
    .header{
        min-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 495px){
    .header {
        min-width: 448px;
    }
}

@media screen and (max-width: 479px){
    .header {
        margin-top: 16px;
        padding-bottom: 42px;
        min-width: calc(100% - 32px);
    }
}