@import url("./__container/comments__container.css");
@import url("./comment/comment.css");
@import url("./__image/comment__image.css");
@import url("./__quote/comment__quote.css");
@import url("./__author/comment__author.css");

.comments {
    margin-top: 102px;
    margin-bottom: 102px;
    width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1279px){
    .comments{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .comments{
        margin-top: 64px;
    }
}

@media screen and (max-width: 479px){
    .comments{
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 374px){
    .comments{
        margin-bottom: 64px;
    }
}